// CSS reset
*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
  acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong,
  sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
  tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
    border: 0;
  }
  
  html, body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
    line-height: 1.5;
  }
  
  header, nav, footer, article, section {
    display: block;
    margin: 0;
    padding: 0;
  }
  img {
      max-width: 100%;
  } 
  h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: bold;
  }
  
  
  blockquote {
    quotes: none;
    &:before, &:after {
      content: '';
      content: none;
    }
  }
  
  del {
    text-decoration: line-through;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  a img {
    border: none;
  }

// Breakpoints
$screen-max: 1920px;
$screen-xxl: 1660px;
$screen-xl: 1400px;
$screen-lg: 1200px;
$screen-mdlg: 1024px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 667px;
$screen-xxs: 480px;
$screen-xxxs: 360px;

// Colors 
$white : #FFFFFF;
$ltst-gray : #CCD3EB;
$lt-gray : #B6B8DD;
$md-gray : #8599AC;
$dk-gray : #425464;
$violet : #6752A1;
$dk-violet : #2B347D;
$fushia : #DF238F;
$fushia-tint: #943C80;
$fushia-tint-secondary: #B2529E;

// Fonts 
@font-face {
    font-family: bariol;
    src: url('../../fonts/bariol_regular-webfont.woff') format('woff');
}
@font-face {
    font-family: bariol-bold;
    src: url('../../fonts/bariol_bold-webfont.woff') format('woff');
}
@font-face {
    font-family: bariol-serif;
    src: url('../../fonts/bariol_serif_regular-webfont.woff') format('woff');
}

$bariol : 'bariol', sans-serif;
$bariol-bold : 'bariol-bold', sans-serif;
$bariol-serif : 'bariol-serif', serif;
$brandon : 'brandon-grotesque', sans-serif;

// Font Weight
$light: 300;
$normal: 400;
$bold: 700; 

.light {
    font-weight: $light;
}
.normal {
    font-weight: $normal;
}
.bold {
    font-weight: $bold;
}
.uc {
    text-transform: uppercase;
}
.text-centered {
    text-align: center;
}
h1,h2,h3,h4,h5,h6 {
    font-family: $bariol;
    line-height: 1.2;
    margin-bottom: 1rem;
    span.bold {
        font-family: $bariol-bold;
    }
}
h2 {
    color: $violet;
    font-size: 52px;
    font-weight: $normal;
    margin-bottom: 2rem;
}
h2 span.bold {
    color: $dk-violet;
}
h3 {
    font-size: 20px;
}
p, ul, li, a {
    font-family: $brandon;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1rem;
}
.dash {
    text-align: left;
    list-style-type: none;
    margin-left: 0;
    padding-left: 1em;
}
.dash li a {
    color: $fushia;
    font-weight: $bold;
}
.dash li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
    color: $fushia;
}
li {
    font-size: 16px;
    font-family: $bariol;
}
.underline {
    color: $white;
    margin: 2em 0;
    @media screen and (min-width:$screen-sm) {   
        font-size: 16px;
    }
    @media screen and (min-width:$screen-md) {   
        font-size: 18px;
    }
    &:after {
        border-bottom: 2px solid $fushia;
        display: block;
        content: '';
        width: 100%;
        height: 10px;
    }
     
}
.btn {
    font-size: 14px;
    color: $white;
    background: linear-gradient(180deg, $fushia-tint-secondary 50%, $fushia-tint 100%);
    padding: 5px 15px;
    margin-bottom: 0;
	height: auto;
	display:inline-block;
    text-align:center;
    border-radius: 16px;
    font-family: $brandon;
    font-weight: $bold;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &:after {
        content: '>';
        margin-left: 5px;
    }
    @media screen and (min-width:$screen-sm) {   
        font-size: 16px;
    }
}
/* Layout Classes */
.outer-wrapper {
    max-width: $screen-max;
    margin: 0 auto;
}
.section {
    padding: 60px 0;
    position: relative;
    @media screen and (min-width: $screen-mdlg) {
        padding: 80px 0;
    }
    @media screen and (min-width: $screen-lg) {
        padding: 100px 0;
    }
}
.container {
    position: relative;
    padding: 0 20px;
    max-width: 100%;
    @media screen and (min-width: $screen-sm) {
        padding: 0 40px;
    }
    @media screen and (min-width: $screen-mdlg) {
        padding: 0 80px;
    }
}
.skinny {
    width: 100%;
    margin: 0 auto;
    @media screen and (min-width:$screen-sm) {   
        max-width: 650px;
    }
    @media screen and (min-width: $screen-mdlg) {   
        max-width: 950px;
    }
}
.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
	&-child, &-child--three-col {
        width: 100%;
        margin-bottom: 1em;
	}
	&-row--always {
		flex-direction: row;
    }
    @media screen and (min-width: $screen-sm) {
		flex-direction: row;
		&-child {
			flex: 0 0 48%;
			padding: 1em;
		}
		&-child--three-col {
			flex: 0 0 28%;
		}
		&-rr {
			flex-direction: row-reverse;
		}

	}
}
.flex-child {
    width: 100%;
}

/* Begin Custom Styles */
.header {
    padding: 1rem 0;
    .header__wrap {
        justify-content: space-between;
        align-items: center;
    }
    .header__nav-links {
        text-align: left;
        list-style-type: none;
        margin-bottom: 0;
        @media screen and (min-width:$screen-sm) {   
            text-align: center;
        }
        li { 
            display: inline-block;
            border-right: 2px solid $fushia;
            padding: 0 1em;
            margin-bottom: 0;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                border-right: none;
            }
        }
        a {
            font-family: $bariol-bold;
            text-transform: uppercase;
            color: $violet;
            margin-bottom: 0;
            &:hover, &:focus {
                color: $fushia-tint;
            }
        }
    }
    .header__contact {
        text-align: left;
        @media screen and (min-width:$screen-sm) {   
            text-align: right;
        }
    }
    .header__contact a {
        color: $fushia;
        &:hover, &:focus {
            color: $fushia-tint;
        }
    }
}
.billboard {
    background: url('../../img/billboard-BG.jpg') no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media screen and (min-width: $screen-sm) {
        min-height: 650px;
        min-height: 75vh;
    }
    .billboard__content {
        h1 {
            color: $white;
            text-transform: uppercase;
            font-size: 72px;
            font-weight: $normal;
        }
        p {
            color: $white;
            padding: 0 5%;
            @media screen and (min-width:$screen-sm) {   
                padding: 0 15%;
            }
            
        }
    }
}
.optimized {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, $white 50%, $ltst-gray 100%);
    &__heading {
        margin-bottom: 4em;
        p {
            padding: 0 5%;
            @media screen and (min-width:$screen-sm) {   
                padding: 0 15%;
            }
        }
    }
    &__columns-wrap {
        background-color: $white;
        padding: 20px 0;
        margin: 0 5%;
        justify-content: center;
        border: 2px solid rgba(182,184,221,.6);
        border-radius: 8px;
    }
    &__columns {
        flex-grow: 1;
        padding: 2em;
        position: relative;
        &:after {
            @media screen and (min-width:$screen-sm) {   
                border-right: 2px solid rgba(182,184,221,.6);
                content: '';
                display: inline-block;
                height: 75%;
                width: 2px;
                position: absolute;
                top: 2em;
                right: 0;
            }
        }
        &:last-child:after {
            border-right: none;
        }
        h3 {
            color: $violet;
            margin-bottom: 1.5rem;
        }
        .icon {
            margin: 0 auto;
            display: block;
            margin-bottom: 2rem;
            min-height: 100px;
        }
    }
}
.growing {
    @media screen and (min-width:$screen-sm) {   
        background: url('../../img/growing_BG.jpg') no-repeat;
        background-size: contain;
        min-height: 75vh;
        background-position: right top; 
    }
}
.happening {
    background: $ltst-gray;
    &__cards-wrap {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        @media screen and (min-width:$screen-sm) {   
            flex-wrap: nowrap;
        }
    }
    &__card {
        width: 100%;
        background: $white;
        margin-bottom: 1.5em;
        flex-direction: column;
        box-shadow: 1px 1px 4px 1px #999;
        @media screen and (min-width: $screen-xs) {
            width: 48%;
            min-height: 150px;
            
        }
        @media screen and (min-width:$screen-sm) {   
            width: 24%;
            margin-bottom: 0;
        }
    }
    &__card-text {
        padding: 1em 10%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        @media screen and (min-width:$screen-sm) {   
            min-height: 150px;
        }
        p {
            font-family: $bariol-serif;
            font-size: 16px;
            line-height: 1.2;
            @media screen and (min-width:$screen-sm) {   
                font-size: 18px;
            }
        }
    }
    &__why {
        padding: 2em 0;
        flex-direction: row;
        align-items: center;
    }
    &__why-text {
        font-family: $bariol-bold;
        font-style: italic;
        color: $dk-violet;
        font-size: 20px;
        width: 85px;
    }
    &__why-border {
        width: calc(100% - 105px);
        border-bottom: 2px solid $fushia-tint;
        content: '';
        margin-left: 1em;
        vertical-align: middle;
        height: 10px;
    }
    &__tab {
        width: 100%;
        margin-bottom: 1.5em;
        @media screen and (min-width:$screen-sm) {   
            width: 32%;
            margin-bottom: 0;
        }
        background: $white;
        flex-direction: row;
        box-shadow: 1px 1px 4px 1px #999;
        &:first-child {
            .happening__tab-img {
                background: url('../../img/tab1.jpg') no-repeat;
                background-size: cover;
                background-position: center;
            } 
        }
        &:nth-child(2) {
            .happening__tab-img {
                background: url('../../img/tab2.jpg') no-repeat;
                background-size: cover;
                background-position: center;
            } 
        }
        &:last-child {
            .happening__tab-img {
                background: url('../../img/tab3.jpg') no-repeat;
                background-size: cover;
                background-position: center;
            } 
        }
    }
    &__tab-img {
        width: 33%;
    }
    &__tab-text {
        width: 66%;
        padding: 20px 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
            font-family: $bariol-serif;
            font-size: 16px;
            line-height: 1.2;
            @media screen and (min-width:$screen-sm) {   
                font-size: 18px;
            }
        }
        a {
            color: $fushia;
            font-weight: $bold;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
            &:after {
                content: '>';
                margin-left: 5px;
            }
        }
    }
}
.together { 
    &__icons-top {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__icons-bottom {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__icon-wrap {
        text-align: center;
        min-height: 150px;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        @media screen and (min-width:$screen-xxs) {  
            width: 48%;
        }
        @media screen and (min-width:$screen-sm) {  
            -webkit-box-flex: 1;  
                -ms-flex: 1;  
                    flex: 1; 
            padding: 0 1em;
            min-height: 115px;
        }
    }
}
.footer {
    background: $dk-violet;
    &__col {
        width: 100%;
        padding-right: 2em;
        @media screen and (min-width:$screen-sm) {
            width: 50%;
        }
        @media screen and (min-width:$screen-md) {
            width: 16.6%;
        }
    }
    &__logo {
        width: 100%;
        text-align: left;
        @media screen and (min-width:$screen-sm) {
            width: 50%;
        }
        @media screen and (min-width:$screen-md) {
            width: 32%;
        }
        p a {
            color: $white;
        }
    }
    &__links-list {
        list-style-type: none;
        a {
            color: $white;
            text-decoration: none;
            &:after {
                content: '>';
                margin-left: 5px;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .btn {
        margin-top: 4em;
        &:after {
            content: '';
            margin-left: 0;
        }
    }
}